
button {
  padding: 8px 16px;
  background-color: $primary-color;
  color: white;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.details-button {
  background-color: lighten($secondary-color, 10%);
  color: white;
  padding: 8px 12px;

  margin-top: 10px;
  font-size: 0.9em;
  border: none;

  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 5%);
  }
}
#backButton {
  display: block; /* Asegúrate de que sea un bloque para aplicar el centrado */
  margin: 0 auto; /* Centra el botón horizontalmente */
}