
.character-details {
  display: block;
  padding: 20px;
  text-align: center;

  img {
    width: 150px;

    height: auto;
    border-radius: 8px;
  }

  h3 {
    color: $primary-color;
  }

  button {
    margin-top: 10px;
    padding: 8px 16px;

    background-color: $primary-color;

    color: white;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
