// Variables

$color-fondo: rgba(204, 50, 183, 0.231);
$color-nav: rgba(255, 192, 203, 0.626);
$color-letra: #56002f;
$color-border: #c11786cc;
$color-letra-sailor-detail: #c11785;

// Mixins

@mixin card_personalizada {
  margin: 0.8125em;
  padding: 0.625em;
  padding-right: 1.25em;
  width: 21.25em;
  height: 14.6875em;
  border-radius: 3em;
  border: 2px solid #c11785;
  color: $color-letra;
}

// Mixin para estilizar botones

@mixin boton-estilizado {
  margin: 0.9375em;
  width: 6.25em;
  height: 1.875em;
  border-radius: 0.625em;
  background-color: $color-fondo;
  color: $color-letra;
  font-weight: bold;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: $color-nav;
    color: $color-letra;
  }

  &:active {
    background-color: $color-nav;
    color: $color-letra;
  }
}

// Uso del mixin para los botones
.btn-delete {
  @include boton-estilizado($color-nav, #c11785, #583381, #f020a7);
}

.btn-edit {
  @include boton-estilizado(#c11785, #271f30, #f020a7, #583381);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color-nav;
  justify-content: space-between;
}

header {
  background-color: $color-fondo;
}

nav {
  height: 3.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-fondo;

  .contain {
    display: flex;
  }

  h1 {
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    margin: 0.9375rem;
    color: $color-letra;
  }

  h3 {
    margin: 0.9375rem;
    color: $color-letra;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

section {
  width: 85%;
  margin: 0em auto 3.125em auto;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em auto;
  }

  @media screen and (max-width: 1400px) {
    width: 68.75em;
  }

  @media screen and (max-width: 1200px) {
    width: 90%;
  }
}

footer {
  position: relative;
  top: 96%;
  left: 0%;
  width: 100%;
  margin-bottom: 1.25em;

  p {
    color: $color-letra;
    text-align: center;
    font-size: 0.8em;
  }
}

.btn-container {
  button {
    @include boton-estilizado();
  }
}

.loading-container {
  width: 4.375em;
  margin: 0.625em auto;

  img {
    width: 4.375em;
  }
}

form {
  margin: 0.625em auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  select {
    width: 25%;
    height: 1.875em;
    margin: 0.9375em 0.625em;
    color: $color-letra;
    background-color: $color-nav;
    border-radius: 0.5em;
    border: 2px solid #c11785;
  }

  #btn-search {
    margin: 0.3125em;
    width: 5em;
    height: 1.875em;
    border-radius: 0.625em;
    background-color: $color-fondo;
    color: $color-letra;
    font-weight: bold;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #f020a7;
      color: #583381;
    }

    &:active {
      background-color: #c11785;
      color: #271f30;
    }
  }

  input[type="button"] {
    width: 5em;
    height: 1.875em;
    border-radius: 0.625em;
    background-color: $color-nav;
    color: $color-letra;
    font-weight: bold;
    border: none;
    border: 2px solid #c11785;
    margin: 0.3125em;

    &:hover {
      cursor: pointer;
      background-color: #583381;
      color: #f020a7;
    }

    &:active {
      background-color: $color-fondo;
      color: #c11785;
    }
  }

  .location-search,
  .category-search {
    display: none;
  }

  .show-bar {
    display: block;
  }
}

.card {
  @include card_personalizada();

  h2 {
    font-size: 1.2em;
    margin: 0.3125rem 0.625rem;
    color: $color-letra;
  }

  div {
    height: 5.625em;
    overflow-y: auto;
    margin-bottom: 0.875em;
  }

  p {
    font-size: 0.8em;
    margin: 0.3125rem 0.625rem;
  }

  h3 {
    font-size: 0.8em;
    margin-top: 1.0625em;
    margin-left: 0.3125em;
  }

  .tag {
    display: inline;
    padding: 0em 0.625em;
    color: $color-letra;
    margin: 0.1375em;
    border: 2px solid #c11785;
    border-radius: 0.375em;
  }

  button {
    @include boton-estilizado()
  }

  @media screen and (max-width: 1000px) {
    width: 70%;

    button {
      margin-top: 1.5em;
      margin-left: 80%;
    }
  }

  @media screen and (max-width: 800px) {
    width: 90%;

    button {
      margin-top: 1.5em;
      margin-left: 75%;
    }
  }

  @media screen and (max-width: 400px) {
    button {
      margin-top: 1.5em;
      margin-left: 60%;
    }
  }
}

.card-detail {
  padding: 1.25em;
  margin: 2em auto;
  width: 80%;
  border: 5px solid #c11785;
  color: $color-letra;
  border-radius: 0.625em;

  .return {
    text-decoration: underline;
    color: $color-letra;
    cursor: pointer;
    font-size: 0.9em;
    margin: 0em 0em 0.5em 0em;
  }

  h2 {
    color: $color-letra-sailor-detail;
    margin-bottom: 0.9375em;
  }

  .tags-container {
    h3 {
      display: inline-block;
    }

    .tag {
      display: inline-block;
      padding: 0em 0.625em;
      color: $color-letra-sailor-detail;
      margin: 0.1875em;
      border: 2px solid $color-letra-sailor-detail;
      border-radius: 0.375em;
      margin-top: 0.7em;
    }
  }

  @media screen and (max-width: 1000px) {
    width: 90%;
  }

  @media screen and (max-width: 800px) {
    width: 95%;
  }

  @media screen and (max-width: 400px) {
    width: 98%;
  }
}

.skills-sailor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .skills-details,
    .sailor-details {
      width: 100%;
      margin-bottom: 2em;
      padding: 0em;
      display: block;
      height: auto;
    }

    .sailor-description {
      margin-bottom: 1em;
    }
  }

  .sailor-details {
    width: 35%;

    img {
      width: 15em;
      border-radius: 0.625em;
      border: 2px solid $color-letra-sailor-detail;
      padding: 0.3125em;
      margin-bottom: 1em;
    }

    h4 {
      color: $color-letra-sailor-detail;

      > p {
        font-weight: lighter;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 50%;
    }
  }

  .skills-details {
    width: 55%;
    height: 18.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      color: $color-letra-sailor-detail;
    }

    @media screen and (max-width: 1000px) {
      width: 50%;
      padding-right: 1em;
    }
  }

  .sailor-description {
    margin-bottom: 5.625em;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1.875em;

  .btn-delete {
    @include boton-estilizado($color-nav, #c11785, #583381, #f020a7);
  }

  .btn-edit {
    @include boton-estilizado(#c11785, #271f30, #f020a7, #583381);
  }
}

::-webkit-scrollbar {
  width: 0.625em;
}

::-webkit-scrollbar-track {
  background: #271f30;
}

::-webkit-scrollbar-thumb {
  background: $color-fondo;
  border-radius: 0.3125em;

  &:hover {
    background: #f020a7;
  }
}

//agregar sailor

@mixin flex-container(
  $direction: row,
  $justify: center,
  $align: center,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
//Mixin para botones:

@mixin button-styles($background-color, $color, $border-color) {
  width: 6.25em;
  height: 1.875em;
  border-radius: 0.625em;
  background-color: $background-color;
  color: $border-color;
  font-weight: bold;
  border: none;
  border: 2px solid $border-color;
  margin: 0.3125em;
  &:hover {
    cursor: pointer;
    background-color: $border-color;
    color: $color-letra;
  }
  &:active {
    background-color: $border-color;
    color: $background-color;
  }
}

@mixin input-styles($background-color, $color, $border-color) {
  background-color: $background-color;
  color: $color;
  border: 2px solid $border-color;
  border-radius: 0.625em;
  margin: 0em auto;
  width: 85%;
}

@mixin card-styles {
  margin: 0.8125em;
  padding: 0.625em;
  padding-right: 1.25em;
  width: 21.25em;
  height: 14.6875em;
  border-radius: 3em;
  border: 2px solid #c11785;
  color: $color-letra;
}

.search-form,
.edit-sailor-form {
  @include flex-container(column, center, flex-start);
  border: 2px solid #c11785;
  border-radius: 0.625em;
  width: 60%;

  label {
    color: #c11785;
    margin: 0.625em;
    margin-left: 1.25em;
  }

  textarea,
  input[type="text"],
  select {
    @include input-styles($color-nav, black, #c11785);
  }

  h4 {
    font-size: 1.3em;
    color: #c11785;
    margin-top: 1.875rem;
    margin-left: 0.625rem;
  }

  div {
    width: 40%;
    display: flex;
    margin: 1.25em auto;
  }

  .btn-cancel {
    @include button-styles($color-nav, #c11785, #c11785);
  }

  .btn-success {
    @include button-styles(rgba(204, 50, 183, 0.231), #271f30, #c11785);
    width: 9.375em;
  }

  @media screen and (max-width: 1000px) {
    width: 90%;
  }

  @media screen and (max-width: 800px) {
    width: 95%;
  }
}

.edit-sailor-form {
  @include flex-container(column, center, center);
  width: 80%;
  margin-top: 1.25em;

  div {
    justify-content: center;
  }

  .btn-success {
    width: 6.25em;
  }

  @media screen and (max-width: 1000px) {
    width: 90%;
  }

  @media screen and (max-width: 800px) {
    width: 95%;
  }

  @media screen and (max-width: 400px) {
    width: 98%;
  }
}

.delete-container {
  @include flex-container(column, center, center);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 31, 48, 0.9);
  z-index: 2;

  .delete-warning {
    @include flex-container(column, center, center);
    border: 2px solid #c11785;
    background-color: #271f30;
    border-radius: 0.625em;
    width: 25em;
    height: 15.625em;
    margin: auto;
    z-index: 1;
    padding: 0.625em;

    h3 {
      font-size: 1.3em;
      color: #c11785;
      margin: 0.625em;
    }

    p {
      color: #f7f7ff;
      margin-left: 0.9375em;
    }

    .btn-container {
      @include flex-container(row, center, center);

      .btn-cancel {
        @include button-styles($color-nav, #c11785, #c11785);
      }

      .btn-success {
        @include button-styles(#c11785, #271f30, #c11785);
      }
    }

    @media screen and (max-width: 800px) {
      width: 90%;
    }

    @media screen and (max-width: 400px) {
      width: 95%;
    }
  }
}

.footer {
  color: #56002fbb;
}